<!DOCTYPE html>
<html>
<head>
	<title> Survey Form </title>
</head>

<body>
	<h2>Submitted Information</h2>
	<ul>
		<li>Name: <%= survey.name %></li>
		<li>Dojo Location: <%= survey.location %></li>
		<li>Favorite Language: <%= survey.language %></li>
		<li>Comment: <%= survey.comment %></li>
	</ul>
</body>
</html>