<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title>Product Factory</title>
	<script src='bower_components/angular/angular.js'></script>
	<script src='main.js'></script>
</head>
<body>
	<div ng-controller='productsController'>
		<form>
			Product Name: <input type='text' ng-model='newProduct.name'>
			Product Price: <input type='number' ng-model='newProduct.price'>
			<input type="submit" value="Create Product" ng-click="createProduct()">
		</form>

		<table>
			<thead>
				<tr>
					<th> Product Name</th>
					<th> Product Price</th>
					<th> Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat ="product in products">
					<td> {{product.name}}</td> 
					<td> {{product.price}}</td> 
					<td> <button ng-click='deleteProduct(productOb)'> Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>