<h1>Private Session</h1>	
	<p> We get it, classes aren't for everyone. Maybe the times don't work for you, maybe they don't focus on the kinds of goals you want to achieve, or maybe you just aren't comfortable in a class setting. That's all right! Our private sessions are flexible and will focus on your goals.</p>

	<h4> Consultation</h4>
	<p> After you fill out the form, you'll be contacted to set up a consultation. While we prefer to meet you in person, we understand that sometimes over the phone is more conveniant. Your consultation will include an in depth look at your goals and what services Mad Dog can offer you. If the fit is good, we will get you signed up for a plan. Fees are flat rate, depending on your goals and time, and a payment plan can be made.</p>

	<h4>Your sessions</h4>
	<p>Your sessions will start with getting an accurate weight and a brief discussion of your diet. This is to help you chart your progress and catch any possible traps. We will then help you through warm ups, help keep your reps, form, and routine and track, and guide you through cool down. As we see progress, we'll discuss possible changes to the routine at the end of your session.</p>

	<h4>Cancelling a session</h4>
	<p>We get it, life happens, and sometimes you can't make a session. No problem, just be curtious and let us know (the sooner the better)! Someone else may be able to take that slot. </p>

	<h4>Cancelling your plan</h4>
	<p>Plans are a contract, cancelling a plan may result in a fee. Discuss your concerns with us and we will see what can be done.</p>

	<h5>Trainer fit clause</h5>
	<p>The Trainer fit clause protects you in cases where cancelling your contract is due to the trainer. If your trainer leaves, is injured, or is otherwise unable to complete the contract, we will work to get you set up with a new trainer at no cost to you. If we are unable to, the contract will be dissolved.</p>

	<h2>Request a Consultation</h2>
	<p> Fill out the form below and we will arrange a consultation with you to discuss how Mad Dog Muscle can meet your needs.</p>
	<ul>
		<p>Things to put in your form:</p>
		<li>What your goals are!</li>
			<ul>
				<li>Lose weight</li>
				<li>Tone my body</li>
				<li>Develop a healthier lifestyle</li>
				<li>Develop a new routine when the old one plateus</li>
				<li>Develop a new routine to reduce an injury</li>
			</ul>
		<li>What previous workouts or systems you've tried (and why they failed for you)</li>
		<li>How much time can you devote to a workout?</li>
		<li>Budget concerns</li>
		<li>Any health conditions or injuries that may effect what you can do</li>
	</ul>
	<form ng-submit='psignup()'>
		First Name: <input type="text" ng-model="pses.first">
		Last Name: <input type="text" ng-model="pses.last">
		Email: <input type="email" ng-model="pses.email">
		Phone Number: <input type="text" ng-model="pses.phone">
		Information: <textarea ng-model="pses.info"></textarea>
		<input type="submit" value="Schedule my consultation">
	</form>
