<h1>Ab-venture Time</h1>
	<ul>	
		<li class="first" id="abTime"> Ab-venture Time </li>
            <p> Core strength can make so much better in your life. Forget just getting rid of that muffin top, your posture will improve, as well as the overall effectiveness of your workouts. Check out our core-blasting Ab-venture Time class three nights a week for thirty minutes.</p>
            <ul>
                <li> Class is $7 per class, or pay for ten sessions in advance and recieve a 20% discount.</li>
                <li> Classes meet Monday, Wednesday, and Friday 6-6:30 pm.</li>
                <li> Class size is limited to 30.</li>
            </ul>
    </ul>