<h1>Mommy And Me</h1>	
	<ul>	
		<li class="first" id="mommyMe"> Mommy and Me Muscle </li>
            <p> Burn off that baby weight with the source! This gentle class is designed to not only help burn fat and restore tone, but to help you bond with your new bundle of joy. This class meets twice a week for forty-five minutes and is a pay per play.</p>
            <ul>
                <li> Class is $15 per session, or pay for ten sessions in advance and recieve a 20% discount.</li>
                <li> Classes meet Wednesday 1:00-1:45pm and Friday 7:00-7:45pm.</li>
                <li> Class size is limited to 30.</li>
                <li> Fathers more than welcome!</li>
            </ul> 
    </ul>