<h1>Strength Toning Endurance Muscle</h1>		
	<ul>
		<li class="first" id="stem"> STEM </li>
            <p> Strength, Toning, Endurance, Muscle is an all over workout meant for those who are looking to get started on the path to the healthier life style. STEM will get you started in a fun, supportive, environment meant to make the transition easier. The STEM class runs for a month, three times a week, for an hour. Although it is geared towards beginners, any fitness level is welcome -- especially if you're looking for an all over regime that's lighter than our Zombie Apoco-prep you can do on your own.</p>
            <ul>
                <li> Class is $200 (includes a $50 non-refundable deposit at sign up) and includes a booklet on steps to take in diet and lifestyle to help you get started!</li>
                <li> Class meets Tuesday and Thursday at 5-6:00pm, Saturday at 9-10am.</li>
                <li> Class is run bi-monthly, space is limited to 15 students.</li>
            </ul>
    </ul>
<h2> STEM Waitlist </h2>
	<p>If you're interested in this class, please fill out the below form. You'll be added to the wait list and given the next avaliable slot.</p>
	<form ng-submit='stemsignup()'>
		First Name: <input type="text" ng-model="stem.first">
		Last Name: <input type="text" ng-model="stem.last">
		Email: <input type="email" ng-model="stem.email">
		Phone Number: <input type="text" ng-model="stem.phone">
		Preferred Contact method: <input type='checkbox' ng-model="stem.pref"><label> Phone </label><br> <br> <input type="checkbox" ng-model="stem.pref"><label> Email </label>
		<input type="submit" value="Add My Name To The List!">
	</form>
