<h1>Super Power Hour</h1>		
	<ul>
		<li class="first" id="superPower"> Super Power Hour </li>
            <p> Look like you fight crime -- even if you don't! Based on routines designed to mimic the workouts of comic superheroes, this high energy, medium intensity, class is just the thing to bring out your inner super hero! Class runs once a week for an hour.</p>
            <ul>
                <li> Class is $30 a session, or pay for ten sessions in advance and recieve a 20% discount.</li>
                <li> Class meets Wednesday 7-8 pm.</li>
                <li> Class space is limited to 30 students.</li>
                <li> Batcave/Fortress of Solitude not included.</li>
            </ul>
    </ul>
