<h1>Zombie Apoco-prep</h1>
	<ul> 
        <li class="first" id="zombiePrep"> Zombie Apoco-prep </li>
            <p> An intense bootcamp to help you be ready to out run the zombies! Focused on cardio and core training, this class will increase your stamina and endurance while toning and strengthing your body. The class runs for three weeks, five days a week for three hours. After this class, you'll have established a regime you can continue on your own.</p>
            <ul>
                <li> Class is $500 (a non-refundable $100 is due at sign up to reserve a spot) and includes a booklet full of survival tips, bug-out-bag suggests, and recipes for meals on the run.</li>
                <li> Because of the intense nature of the class, it is not recommended for beginners. Those interested in getting started should look into the STEM or Super Power Hour classes.</li>
                <li> Zombie Apoco-prep runs three times a year, and space is limited to 10 students.</li>
            </ul> 
	</ul>
<h2> Zombie Apoco-prep Waitlist </h2>
	<p>If you're interested in this class, please fill out the below form. You'll be added to the wait list and given the next avaliable slot.</p>
	<form ng-submit='zsignup()'>
		Full Name: <input type="text" ng-model="zprep.name">
		Email: <input type="email" ng-model="zprep.email">
		Phone Number: <input type="text" ng-model="zprep.phone">
		<input type="submit" value="Add My Name To The List!">
	</form>
