<!DOCTYPE html>
<html>
<head>
	<title> QuotingDojo </title>
</head>
<body>
	<h1> Welcome to Quoting Dojo! </h1>
	<!-- Where are the errors displayed? -->

	<form action="/message" method="post">
		<!-- Need a name attribute! -->
		name: <input type="text" name="name">
		message: <textarea name="message" rows="4" cols="50"> </textarea>
		<input type="Submit" value="Post my Message">
	</form>

	<% for (var post in posts) {%>
		<h4> Name: <%= posts[post].name %> </h4>
		<p> Message: <%= posts[post].message %> </p>

			<!-- forEach doesn't work in EJSl try to refactor! -->

	<form action="/comment/<%= posts[post]._id %>" method="post">
		<!-- You need to have a name attribute -->
		name: <input type="text" name="name">
		comment: <textarea name="comment" rows="4" cols="40"></textarea>
		<input type="Submit" value="Post my Comment">
	</form>
	<% } %>

</body>
</html>
