<!Doctype html>
<html>
<head>
	<title> Button Game </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var socket = io.connect();
			
		});
	</script>
</head>
<body>
	<div id="count"></div>
	<p> Push the button to increase the count</p>
	<button id = 'increase'> Push the Epic Button </button>
	<button id = 'reset'> Reset </button>
</body>
</html>